    <div class="row">
        <div class="col-md-8 col-md-offset-2">

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>{{ flashMessage|raw }}</p>
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>{{ flashMessage|raw }}</p>
    </div>
{% endfor %}
        </div>
    </div>
