
<div class="modal fade" id="nodelete-msg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Commandes déjà passées.</h4>
      </div>
      <div class="modal-body">
        <p>Des commandes ont déjà été effectuées pour cette distribution, il n'est pas possible de la supprimer.</p>
        <p>Que souhaitez-vous faire ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Rien, tant pis</button>
        <button type="button" class="btn btn-primary" id="move-distri-step1">Déplacer la distribution</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sup-product-msg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger">Produits déjà affectés</h4>
      </div>
      <div class="modal-body">
        <p><span class="text-danger">Attention ! </span>Des produits sont déjà été affectés à cette distribution.</p>
        <p>Que souhaitez-vous faire ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Rien, tant pis</button>
        <button type="button" class="btn btn-primary" id="see-products">Voir les produits</button>
        <button type="button" class="btn btn-warning" id="delete-distri">Supprimer la distribution</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="move-distri-msg">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Déplacement distribution</h4>
      </div>
      <div class="modal-body">
        <p>Cliquez sur la nouvelle date pour cette distribution</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="move-distri-step2">OK</button>
      </div>
    </div><
  </div>
</div>


<div class="modal fade" id="msg-alert">
  <div class="modal-dialog">
    <div class="modal-content">
   <!--   <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Message</h4>
      </div>-->
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>