{% extends 'layout.html.twig' %}
{% block header_title %}Compte-rendu de distribution du {{ distri.date|full_date_fr }}{% endblock %}
{% block header_css %}{% endblock %}

{% block body %}
    
    <h3>Compte-rendu de distribution du {{ distri.date|full_date_fr }}</h3>
    
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        
    </div>        
    </div>
    
{%  endblock %}
