/*   GENERAL  */

body > .container {
  padding-top:80px;
}
* {
  transition-property: background-color, border-color, color, opacity, box-shadow;
  transition-timing-function: linear;
  transition-duration: 0.15s;
}
#loader {
  display:none;
}
.print-only {
  display:none;
}
.btn-xl {
  width:100%;
  text-align:center;
  margin-bottom:15px;
}
.navbar-right > li {
    float: right;
}
.bold {
  font-weight: bold;
}
.almost-invisible {
    color:#FFF;
    font-size:1px;
    display: block;
}
.no-display {
    display:none !important;
}
.link-disabled {
   pointer-events: none;
   cursor: default;
}
.nobr {
    white-space: nowrap;
}
.bg-grey {
    background-color:#DDD;    
}
.td-hover {
    cursor: pointer;    
}
.td-hover:hover {
    background-color:#DDD;
}
.td-highlight  {
    background-color:#555 !important;
    color:#fff !important;
}
.deleted {
    text-decoration: line-through;
}
.shift {
    color: #999;
    display: inline-block;
    backgound-color: #DDD;
    
}
/*
.td-relative {
    position:relative;    
}
.btn-inscription {
    position:absolute;
    bottom:0;
    right:0;
}*/
table  {
    background-color:#FFF;
}
table * {
    transition-property: none !important;
    transition-duration:0 !important;
}
.table-cell-link td {
    padding:0 !important;
}
.table-cell-link td a {
    display: block;
    width:100%;
    height:100%;
}
.table-cell-link td div, .table-cell-link td a {
    padding:5px;
}
.table-cell-link td a:hover {
    background-color:#EEE;
    text-decoration: none;
}
.top-buffer { 
    margin-top:20px;
}
.nav-tabs {
    border:none;
}
.checkbox-disabled {
    
}
.mini-input {
    display:inline-block;
    width:72px;
}
.alert {    
    box-shadow: 1px 1px 8px #000;
    height:70px;
}
p.bg-info {
    border-radius:10px;
    padding:5px;
}
/*  PAGE d'ACCUEIL   */

.panel {
  cursor:pointer;
  height:130px;
}

.panel-body {
    padding:10px;
}

.panel:hover {
  box-shadow: 1px 1px 5px #666;
}

.panel:hover .text-muted {
  color:#333;
}

.page-header {
    margin-top:15px;
}
/*   FORMULAIRE d'AUTHENTIFICATION      */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin h4, .form-signin h3 {
  text-align:center;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-radius:4px 4px 0 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0 0 4px 4px;
}

/*   NAVBAR  */

.navbar h4 {
  color:#FFF;
}
.navbar .glyphicon {
  font-size:16px;
}

/*  LISTES  */
.table-hover tbody tr {
  cursor:pointer;
}

/*  DISTRIBUTIONS */
#datepicker {
  font-size:82%;  
}
#ui-datepicker-div {
  font-size:78%;  
}

.date-selected, .date-selected a {
  background:none !important;
  background-color:#5bc0de !important;
  color:#FFF !important;
}
.date-selected-with-product, .date-selected-with-product a {
  background:none !important;
  background-color:#43ac6a !important;
  color:#FFF !important;
}
.date-selected-with-purchase, .date-selected-with-purchase a {
  background:none !important;
  background-color:#e99002 !important;
  color:#FFF !important;
}
.legende-gris, .legende-vert, .legende-bleu, .legende-orange {
    width:20px;
    height:20px;
    border:1px solid #AAA;
}
.legende-gris{
    background-color:#EEE;
}
.legende-vert {
    background-color:#5bc0de;
}
.legende-bleu {
    background-color:#43ac6a;
}
.legende-orange {
    background-color:#e99002;
}
td.distri-explication {
    border-top:none !important;
    padding-top:0 !important;
}

.distri-right #datepicker .ui-datepicker {
    float:right;
}
.distri-right p {
    padding-top:10px;
    clear:both;
}
#table-summary {
    table-layout: fixed;
}
#table-summary tr td:first-child, #table-summary tr th:first-child {
 /*   width:160px;*/
}
#table-summary tr {
    page-break-inside: avoid;
}
/* PRODUCT DISTRIBUTION */

#product-distribution .warning, #product-distribution .check-all {
  cursor:pointer;
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none; 
}
#product-distribution td {
  padding:0;
  text-align:center;
}
#product-distribution td:first-child {
  padding:5px;
  vertical-align: middle;
  text-align:left;
  width:150px;
}
#product-distribution td.check-all {
  text-align:center !important;
}
#product-distribution td label {
  margin:5px;
}
.table-bordered>tbody>tr>td.delimit-left, .table-bordered>tbody>tr>th.delimit-left {
  border-left:2px solid #CCC;
}
.product-quantity {
  float:left;
  height:100%;
  width:10px;
  font-weight: bold;
  text-align:center;
  margin-right:10px;
}
.product {
    width:100%;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.product2 {
    width:200px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.product3 {
    width:400px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.btn-prodis {
    font-size:75%;
    padding:4px 6px;
}
.modal-header {
    background-color:#F4F4F4;
}

#product-distribution td {
    vertical-align:bottom;
}
#product-distribution .label {
    display:inline-block;
    width: 100%;
}
/* contrat */
#purchase .spinner {
  width:42px;
  height:26px;
  text-align:center;
}

#purchase table.table {
 /* width:auto;*/
}
#purchase table tr td {
  text-align:center;
  padding:1px;;
  width:46px;
  height:28px;
  vertical-align: middle;
}
#purchase table tr td.incrementor {
    width:14px;
    font-size:6px;
    padding:0;
}
#purchase table tr td.text-left {
  text-align:left;
}
.payment {
  font-weight:bold;
  float:left;
  width:110px;
  clear:both;
}
.not-first {
  /*border-top:1px solid #ddd; */
}
.payment, .payment_right {    
  padding:4px;
}
.payment_right {
  margin-left:120px;      
}
#purchase table tr td.product {
  max-width:350px;
  min-width:350px;
}
.bg-grey {
  background-color:#EEE;
}
#purchase table tr td.payment-summary {
  padding:5px 20px;
}
#amap-tabs li {
    width:126px;
    font-size:12px;    
    height:70px;
}
#amap-tabs li a {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin:5px;
}
a.plus, a.minus {
    display:block;
    height:50%;
    width:100%;
    background-color:#eee;
    color:#333;
}
.plus span, .minus span {
    position: relative;
    top:5px;
}
.plus:hover, .minus:hover {
    background-color:#555;   
    color:#FFF;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #ffffff;
    background-color: #555;
}

.alert-warning table {
    color:#000;
}

/** PAIEMENTS */


.paiement .form-control {
    display:inline-block;
    width:95%;
}
.paiement .sonata-filter-option {
    display:none;
}
.paiement .form-group {
    width:25%;
    float:left;
    text-align:center;
}
.paiement .pagination {
    margin: 5px 0;
}
.paiement .row-receivedAt,.sonata-ba-list-field-header-date {
    display:none;
}
.paiement .row-received, .paiement .row-amount {
    white-space: nowrap;
}
.paiement .row-fkContract:hover, .paiement .row-fkUser:hover, .paiement .row-fkFarm:hover {
    text-decoration: underline;
    cursor: pointer;
}
/** tablesorter  */
.sorttable th {
    cursor:pointer;
}
.sorttable th:hover {
    background-color:#e1edf7;
}

.payment_description dl, .payment_description p {
    margin:0;
}
.payment_description p {
    margin-top:8px;
}
.payment_description ul {
    font-size:85%;
}
.payment_description ul li {
    list-style-type: none;
}
.payment_description dt {
    font-weight:normal;
    float:left;
    width:125px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 99.8%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #fff;
}

footer > div.container, footer .row {
   /* position: relative;*/
    height:100%;
}
footer .col-md-12 {
    position: relative;
    height:100%;
}
.logo img {
    height:90px;
}
.credits {
    position:absolute;
    bottom:0;
    width:70%;
    margin-left:15%;
    
}

/** Datatables  */
div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}
div.dataTables_wrapper div.dataTables_paginate {
    float:right;
}

/** sortable  */
.ui-sortable-helper {
    box-shadow: 2px 2px 5px #666;
}

/** stats */
#graphcontainer {
    width:940px;
    margin:auto;
}
#graph {
    width:100%;
    height:300px;
}
 #graphtab  {
     float:right;
    position:relative;
    bottom:10px;
    
 }
 #graphtab th {
    width:23px;
 }
#graphtab td {
  font-family: sans-serif;
  font-size:10px;
  color:#888;
  text-align:center;
  width:72px;
}
#graphcontainer h5 {
    margin-bottom:30px;
}
td.newyear, th.newyear {
    border-left:2px solid #bbb !important;
}

#activite td.success {
    background-color:#43ac6a !important;
}
#activite tr:hover .success {
    background-color:#358753 !important;
}

/** historique */
#history-form .form-control {
    display:inline-block;
    width:95%;
}

#history-form .form-group {
    width:25%;
    float:left;
    text-align:center;
}
#contract_autoStartHour, #contract_autoEndHour{
    width:20%;
}
/** mobile **/

@media screen and (max-width: 768px) {
  .mobile-hide {
    display:none !important;
  }
}



.m-0 { margin:0!important; }
.m-1 { margin:.25rem!important; }
.m-2 { margin:.5rem!important; }
.m-3 { margin:1rem!important; }
.m-4 { margin:1.5rem!important; }
.m-5 { margin:3rem!important; }

.mt-0 { margin-top:0!important; }
.mr-0 { margin-right:0!important; }
.mb-0 { margin-bottom:0!important; }
.ml-0 { margin-left:0!important; }
.mx-0 { margin-left:0 !important;margin-right:0 !important; }
.my-0 { margin-top:0!important;margin-bottom:0!important; }

.mt-1 { margin-top:.25rem!important; }
.mr-1 { margin-right:.25rem!important; }
.mb-1 { margin-bottom:.25rem!important; }
.ml-1 { margin-left:.25rem!important; }
.mx-1 { margin-left:.25rem!important;margin-right:.25rem!important; }
.my-1 { margin-top:.25rem!important;margin-bottom:.25rem!important; }

.mt-2 { margin-top:.5rem!important; }
.mr-2 { margin-right:.5rem!important; }
.mb-2 { margin-bottom:.5rem!important; }
.ml-2 { margin-left:.5rem!important; }
.mx-2 { margin-right:.5rem!important;margin-left:.5rem!important; }
.my-2 { margin-top:.5rem!important;margin-bottom:.5rem!important; }

.mt-3 { margin-top:1rem!important; }
.mr-3 { margin-right:1rem!important; }
.mb-3 { margin-bottom:1rem!important; }
.ml-3 { margin-left:1rem!important; }
.mx-3 { margin-right:1rem!important;margin-left:1rem!important; }
.my-3 { margin-bottom:1rem!important;margin-top:1rem!important; }

.mt-4 { margin-top:1.5rem!important; }
.mr-4 { margin-right:1.5rem!important; }
.mb-4 { margin-bottom:1.5rem!important; }
.ml-4 { margin-left:1.5rem!important; }
.mx-4 { margin-right:1.5rem!important;margin-left:1.5rem!important; }
.my-4 { margin-top:1.5rem!important;margin-bottom:1.5rem!important; }

.mt-5 { margin-top:3rem!important; }
.mr-5 { margin-right:3rem!important; }
.mb-5 { margin-bottom:3rem!important; }
.ml-5 { margin-left:3rem!important; }
.mx-5 { margin-right:3rem!important;margin-left:3rem!important; }
.my-5 { margin-top:3rem!important;margin-bottom:3rem!important; }

.mt-auto { margin-top:auto!important; }
.mr-auto { margin-right:auto!important; }
.mb-auto { margin-bottom:auto!important; }
.ml-auto { margin-left:auto!important; }
.mx-auto { margin-right:auto!important;margin-left:auto!important; }
.my-auto { margin-bottom:auto!important;margin-top:auto!important; }

.p-0 { padding:0!important; }
.p-1 { padding:.25rem!important; }
.p-2 { padding:.5rem!important; }
.p-3 { padding:1rem!important; }
.p-4 { padding:1.5rem!important; }
.p-5 { padding:3rem!important; }

.pt-0 { padding-top:0!important; }
.pr-0 { padding-right:0!important; }
.pb-0 { padding-bottom:0!important; }
.pl-0 { padding-left:0!important; }                             
.px-0 { padding-left:0!important;padding-right:0!important; }
.py-0 { padding-top:0!important;padding-bottom:0!important; }

.pt-1 { padding-top:.25rem!important; }         
.pr-1 { padding-right:.25rem!important; }                       
.pb-1 { padding-bottom:.25rem!important; }      
.pl-1 { padding-left:.25rem!important; }                            
.px-1 { padding-left:.25rem!important;padding-right:.25rem!important; }
.py-1 { padding-top:.25rem!important;padding-bottom:.25rem!important; }

.pt-2 { padding-top:.5rem!important; }                                              
.pr-2 { padding-right:.5rem!important; }                                
.pb-2 { padding-bottom:.5rem!important; }               
.pl-2 { padding-left:.5rem!important; }                                             
.px-2 { padding-right:.5rem!important;padding-left:.5rem!important; }
.py-2 { padding-top:.5rem!important;padding-bottom:.5rem!important; }

.pt-3 { padding-top:1rem!important; }                               
.pr-3 { padding-right:1rem!important; }             
.pb-3 { padding-bottom:1rem!important; }                
.pl-3 { padding-left:1rem!important; }                              
.py-3 { padding-bottom:1rem!important;padding-top:1rem!important; }
.px-3 { padding-right:1rem!important;padding-left:1rem!important; }

.pt-4 { padding-top:1.5rem!important; }                             
.pr-4 { padding-right:1.5rem!important; }               
.pb-4 { padding-bottom:1.5rem!important; }              
.pl-4 { padding-left:1.5rem!important; }                                
.px-4 { padding-right:1.5rem!important;padding-left:1.5rem!important; }
.py-4 { padding-top:1.5rem!important;padding-bottom:1.5rem!important; }

.pt-5 { padding-top:3rem!important; }   
.pr-5 { padding-right:3rem!important; } 
.pb-5 { padding-bottom:3rem!important; }    
.pl-5 { padding-left:3rem!important; }  
.px-5 { padding-right:3rem!important;padding-left:3rem!important; }
.py-5 { padding-top:3rem!important;padding-bottom:3rem!important; }