
.no-print {
  display:none;
}
.print-only {
  display:block;
}
.container {
    padding-top:0 !important;
    width:100%;
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
thead {
    display:table-header-group;
}
tbody {
    display:table-row-group;
}
td, th {
	border-color:#333 !important;
}