<div class="modal fade" id="user-choice">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sélectionnez un adhérent</h4>
      </div>
      <div class="modal-body">
        <select id="user" class="form-control">
            {% for user in users %}<option value="{{ user.idUser }}">{{ user.lastname }}</option>{% endfor %}
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" onclick="participation.validate();">OK</button>
      </div>
    </div>
  </div>
</div>