<div class="row no-print">
    <div class="col-md-12 bg-success">    
        <div class="box box-primary">
            <div class="box-body">
                <form class="sonata-filter-form" action="#" method="GET" role="form">                    
                    <div class="filter_container active">
                            
                        <div class="form-group">
                            <label for="filter-farm">Producteur</label>                                    
                           <br />
                            <select id="filter-farm" class="form-control">
                                <option value="0">Tous</option>
                                {% for farm in farms %}{#
                                    #}<option value="{{ farm.idFarm }}"{% if farm.idFarm == filters.farm %} selected="selected"{% endif %}>{{ farm.label }}</option>{#
                                #}{% endfor %}
                            </select>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>                
</div>
