<div class="modal fade" id="payment_received_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title"><span class="glyphicon glyphicon-alert text-danger"></span> Paiement(s) reçu(s).</h4>
      </div>
      <div class="modal-body">
          {% if farm_payment_received|length == 1 %}
              <p>Un paiement a déjà été reçu pour ce contrat :</p>
              <ul><li>{{ farm_payment_received }}</li></ul>
          <p>Si vous effectuez des modifications sur ce contrat (même sur un autre producteur), ce paiement sera considéré comme non reçu.</p>
          <p>Il faudra de nouveau l'indiquer comme étant reçu dans "Réception des paiements".</p>
          {% else %}
            <p>Plusieurs paiements ont déjà été reçus pour ce contrat :</p>
              <ul>
                  {% for farm in farm_payment_received %}
                  <li>{{ farm }}</li>
                  {% endfor %}
              </ul>
            <p>Si vous effectuez des modifications sur ce contrat (même sur un autre producteur), ces paiements seront considérés comme non reçus.</p>
            <p>Il faudra de nouveau les indiquer comme étant reçus dans "Réception des paiements".</p>
          {% endif %}
      </div>
      <div class="modal-footer">
        <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>
