{% if user_list is not null %}
    <div class="text-center">
        <p class="small">Commande de l'adhérent</p>
        <select onchange="switchToUser(this.value);" class="form-control" style="display:inline-block;width:250px;">
            <option value="0"> </option>
            {% for each_user in user_list %}
                <option value="{{ each_user.idUser }}"{% if user is defined and user.idUser == each_user.idUser %} selected="selected"{% endif %}>{{ each_user }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
