{% extends 'layout.html.twig' %}
{% block header_title %}Contrat : {{ contract.label }}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
      <p>Le contrat est actuellement en cours d'édition.</p>
      <p>Merci de revenir dans quelques instants.</p>
  </div>
</div>
{% endblock %}

