{% extends 'layout.html.twig' %}
{% block header_title %}Contrat : {{ contract.label }}{% endblock %}

{% block body %}
    
<div class="row">
  <div class="col-md-12">      
    {% include 'Purchase/_user_list.html.twig' with {'user_list':user_list} %} 
  </div>
</div>

{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/purchase.js') }}"></script>
{% endblock %}
