<div class="modal fade" id="excel">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export Excel</h4>
    </div>
      <div class="modal-body">
        <p>L'export Excel n'est pas encore disponible.</p>
        <p>Vous pouvez toutefois copier le tableau dans un fichier Excel de la manière suivante :</p>
        <ol>
            <li>Sélectionner tout le tableau avec la souris</li>
            <li>Copier (Ctrl + C)</li>
            <li>Ouvrir un ficher Excel vierge et se placer sur la première case.</li>
            <li>Coller le tableau (Ctrl + V).</li>
        </ol>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="msie">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Export Excel</h4>
    </div>
      <div class="modal-body">
          <p>L'export Excel ne fonctionne pas avec Internet Explorer.</p>
          <p>Merci d'utiliser Firefox ou Chrome.</p>
      </div>
    </div>
  </div>
</div>