{% extends 'layout.html.twig' %}
{% block header_title %}{{ type|type_fr }}{% endblock %}

{% block body %}

    
    <div class="row no-print">
        {% include 'Contract/_report_header.html.twig' with {'farm':farm, 'farms': farms, 'type': type, 'contract': contract, 'user': user,'contract_farms': contract_farms} %}  
    </div>
    
  <div class="row top-buffer">
    {% if type == "report" %}
        {% include 'Contract/_report_report.html.twig' with {'farm':farm, 'report': report, 'payment': payment} %}  
    {% endif %}
    {% if type == "shipping" %}
        {% include 'Contract/_report_shipping.html.twig' with {'farm':farm, 'report': report, 'payment': payment, 'dates': dates,'nb_per_month': nb_per_month } %}  
    {% endif %}
    {% if type == "ventilation" %}
        {% include 'Contract/_report_ventilation.html.twig' with {'farm':farm,'report': report, 'dates': dates,'nb_per_month': nb_per_month } %}  
    {% endif %}
    {% if type == "payment" %}
        {% include 'Contract/_report_payment.html.twig' with {'farm':farm,'report': report, 'dates': dates } %}  
    {% endif %}
  </div>
  
  
  {% set bgsuccess = '#dff0d8' %}
  {% set bgwarning = '#fcf8e3' %}
  <div style="display:none;">
    {% if type == "report" %}
        {% include 'Contract/_excel_report.html.twig' with {'farm':farm,'report': report, 'payment': payment, 'bgsuccess':bgsuccess,'bgwarning':bgwarning} %}  
    {% endif %}
    {% if type == "shipping" %}
        {% include 'Contract/_excel_shipping.html.twig' with {'farm':farm,'report': report, 'payment': payment, 'dates': dates,'nb_per_month': nb_per_month, 'bgsuccess':bgsuccess,'bgwarning':bgwarning} %}  
    {% endif %}
    {% if type == "ventilation" %}
        {% include 'Contract/_excel_ventilation.html.twig' with {'farm':farm,'report': report, 'dates': dates,'nb_per_month': nb_per_month, 'bgsuccess':bgsuccess,'bgwarning':bgwarning} %}  
    {% endif %}
    {% if type == "payment" %}
        {% include 'Contract/_excel_payment.html.twig' with {'farm':farm,'report': report, 'dates': dates, 'bgsuccess':bgsuccess,'bgwarning':bgwarning} %}  
    {% endif %}
  </div>
    
    
    {% include 'Contract/_modal.html.twig' %}  
{% endblock %}
{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/excellentexcel.js') }}"></script>

{% endblock %}
