{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}{% endblock %}

{% block body %}Hello {{ app.user.username }}<br /><a href="{{ path('app_logout') }}">Logout</a>{%  endblock %}