<div class="modal fade" id="modal-received">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Paiement reçu</h4>
      </div>
      <div class="modal-body">
        <p>Adhérent : <span class="adherent"></span></p>
        <p>Montant du paiement reçu <!--<span class="text-muted">(laisser 0 si le paiement n'a pas été reçu) </span>-->:</p>

        <p><input type="text" id="received" class="form-control" /></p>
        <p id="modal-split"> Répartition :</p>
        <p id="split-payment">
        </p>
        <p class="text-center">
            <button class="btn btn-default" onclick="$('#modal-received').modal('hide');">Annuler</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" onclick="changePaymentReceived();">Valider</button>            
        </p>       

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-amount">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Montant du paiement</h4>
      </div>
      <div class="modal-body">
        <p>Adhérent : <span class="adherent"></span></p>
        <p>Montant du paiement :</p>

        <p><input type="text" id="amount" class="form-control" /></p>        

        <p class="text-center">
            <button class="btn btn-default" onclick="$('#modal-amount').modal('hide');">Annuler</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" onclick="changePaymentAmount();">Valider</button>            
        </p>
      </div>
    </div>
  </div>
</div>
{#
<div class="modal fade" id="modal-description">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Paiement reçu</h4>
      </div>
      <div class="modal-body">
        <p>Adhérent : <span class="adherent"></span></p>
        <p>Description du paiement :</p>

        <p><textarea id="description" class="form-control"></textarea></p>
        <p class="text-center">
            <button class="btn btn-default" onclick="$('#modal-description').modal('hide');">Annuler</button>
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" onclick="changePaymentDescription();">Valider</button>            
        </p>       

      </div>
    </div>
  </div>
</div>
#}
<div class="modal fade" id="msg-alert">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Alerte</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>