{% extends 'layout.html.twig' %}
{% block header_title %}Compte Stripe producteur : IBAN{% endblock %}

{% block body %}
<div class="row">
   <div class="col-md-4">   
   
   </div>
   <div class="col-md-4">
    {% if active %}
        Le compte Stripe est actif.
    {% else %}
        Pour activer le compte Stripe, merci de suivre le lien qui suit et renseigner les informations demandées (SIREN, IBAN...) :<br />
        <a href="{{ account_link }}">{{ account_link }}</a>
    {% endif %}
    
       
    </div>
    <div class="col-md-4 text-right"></div>
</div>
{% endblock %}
{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>

{% endblock %}