{% extends 'layout.html.twig' %}
{% block header_title %}Compte bancaire{% endblock %}

{% block body %}
<div class="row">
   <div class="col-md-4">   
   
   </div>
   <div class="col-md-4">
    
        <form id="iban-form" action="" method="POST" style="display:{% if iban != "" %}none{% else %}block{% endif %};">
            <label for="iban">IBAN</label>
            <input id="iban" type="text" name="iban" />
            <br />
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    {% if iban != "" %}
        <div id="iban-read">
            <table  class="table table-striped">
                <tr>
                    <th class="text-right">IBAN</th><td>{{ iban }}</td>
                </tr>
            </table>
            <button onclick="switchVisibility()" class="btn btn-primary">Modifier</button>
        </div>
    {% endif %}
    <br /><a href="https://stripe.com/fr/legal/ssa#general-terms">Conditions d'utilisation Stripe</a>
    </div>
    <div class="col-md-4 text-right"></div>
</div>
{% endblock %}
{% block footer_js %}
<script type="text/javascript" src="{{ asset('js/form.js') }}"></script>
<script>

    function switchVisibility() {
        document.getElementById('iban-form').style.display='block';
        document.getElementById('iban-read').style.display='none';
    }

 function space(el, after) {
        after = after || 4;
        var v = el.value.replace(/[^\dA-Z]/g, ''),
            reg = new RegExp(".{" + after + "}","g")
        el.value = v.replace(reg, function (a, b, c) {
            return a + ' ';
        });
    }
    
    var el = document.getElementById('iban');
    el.addEventListener('keyup', function () {
        space(this, 4);
    });
</script>
{% endblock %}